### env imports

In [20]:
%%capture
!pip3 install gspread-formatting gspread google-auth wonderwords gspread-dataframe

### module imports

In [21]:
# general python imports
import os

# random word generator
import wonderwords

# data manipulation
import pandas as pd
import numpy as np

# # dfcx-scrapi
# from dfcx_scrapi.core.intents import Intents
# from dfcx_scrapi.tools.dataframe_functions import DataframeFunctions

# For connection to g-sheets
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe

import gspread_formatting
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

###
import pandas as pd
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from gspread_formatting.dataframe import format_with_dataframe

## g-sheets config

In [22]:
# %%capture
# service account scopes
# master systems analysis and design dxfc g-sheets workbook...

scope = ['https://www.googleapis.com/auth/spreadsheets','https://www.googleapis.com/auth/drive']


#authorize sa
credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/christophertrauco/.config/secrets/cx_admin_sa.json', scope)
client = gspread.authorize(credentials)
spreadsheet_key = '18qvh0uWkA0z7S5CC3xTdvD2wkhsmnINjgxUWmuoCo7M'
sh = client.open_by_key(spreadsheet_key)

In [23]:
from wonderwords import RandomWord

r = RandomWord()

# generate a random word
x = r.word(word_max_length=10)

In [24]:
sh = client.create(x)

In [25]:
sh.share('chris@botcopy.com', perm_type='user', role='writer')

In [26]:
print(sh)
x = r.word(word_max_length=10)
test_wks = sh.add_worksheet(x, rows=100,cols=100)

# cell = worksheet.acell('B1', value_render_option='FORMULA').value

<Spreadsheet 'lick' id:1H23yIUquRmTb5uXvWFe4GDe3GK8JzpDO3ln5pQjPUME>

In [27]:
print(test_wks)
type(test_wks)

<Worksheet 'dinosaur' id:1584689223>

gspread.worksheet.Worksheet

In [28]:
cell = test_wks.acell('B1', value_render_option='FORMULA').value

In [29]:
# print(cell)

In [30]:
df = get_as_dataframe(test_wks, evaluate_formulas=False)

In [31]:
print(df)

    Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
..         ...         ...         ...         ...         ...         ...
94         NaN         NaN         NaN         NaN         NaN         NaN
95         NaN         NaN         NaN         NaN         NaN         NaN
96         NaN         NaN         NaN         NaN         NaN         NaN
97         NaN         NaN         NaN         NaN         NaN         NaN
98         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 90  \
0          NaN         NaN         NaN         NaN  ...          NaN
1          NaN         NaN         NaN         NaN  ...          NaN
2          NaN         NaN         NaN         NaN  ...          NaN
3          NaN         NaN         NaN         NaN  ...          NaN
4          NaN         NaN         NaN         NaN  ...          NaN
..         ...         ...         ...         ...  ...          ...
94         NaN         NaN         NaN         NaN  ...          NaN
95         NaN         NaN         NaN         NaN  ...          NaN
96         NaN         NaN         NaN         NaN  ...          NaN
97         NaN         NaN         NaN         NaN  ...          NaN
98         NaN         NaN         NaN         NaN  ...          NaN

    Unnamed: 91  Unnamed: 92  Unnamed: 93  Unnamed: 94  Unnamed: 95  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
94          NaN          NaN          NaN          NaN          NaN
95          NaN          NaN          NaN          NaN          NaN
96          NaN          NaN          NaN          NaN          NaN
97          NaN          NaN          NaN          NaN          NaN
98          NaN          NaN          NaN          NaN          NaN

    Unnamed: 96  Unnamed: 97  Unnamed: 98  Unnamed: 99
0           NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN
..          ...          ...          ...          ...
94          NaN          NaN          NaN          NaN
95          NaN          NaN          NaN          NaN
96          NaN          NaN          NaN          NaN
97          NaN          NaN          NaN          NaN
98          NaN          NaN          NaN          NaN

[99 rows x 100 columns]

In [32]:
x = r.word(word_max_length=10)

In [33]:
wks2 = sh.add_worksheet(x, rows=100,cols=100)
set_with_dataframe(wks2, df)

In [34]:
sh = client.open_by_key('1lt02Hh2B_q_sluK-sAcgqyJ8WbqfZ6qDP_EQJVHPJDo')

In [42]:
def list_worksheets():
    wks = []
    wks_list = sh.worksheets()
    
    for x in wks_list:
       wks.append(x)
    return wks_list

In [57]:

df = list_worksheets()

In [58]:
print(df)

[<Worksheet 'Input' id:266492369>, <Worksheet 'Intents' id:762789409>, <Worksheet 'No. 2 - ETL' id:323152490>, <Worksheet 'Data' id:1544953466>, <Worksheet 'output' id:0>, <Worksheet 'Analysis' id:380052774>, <Worksheet 'DV*' id:1234901083>, <Worksheet 'Working' id:618537257>, <Worksheet 'Hx' id:707666720>, <Worksheet 'History' id:1899998623>, <Worksheet 'test2' id:2125085894>, <Worksheet 'test3' id:478685877>]

In [74]:
df = get_as_dataframe(df[3], evaluate_formulas=True)

KeyError: 3

In [72]:
print(df)

     =arrayformula(if(REGEXMATCH(B1:B,"^name$"),true,false))  ={etl}  \
0                                                  NaN           NaN
1                                                  NaN           NaN
2                                                  NaN           NaN
3                                                  NaN           NaN
4                                                  NaN           NaN
..                                                 ...           ...
994                                                NaN           NaN
995                                                NaN           NaN
996                                                NaN           NaN
997                                                NaN           NaN
998                                                NaN           NaN

     Unnamed: 2  =ARRAYFORMULA(IF(A1:A=TRUE,N1:N,""))  \
0           NaN                                   NaN
1           NaN                                   NaN
2           NaN                                   NaN
3           NaN                                   NaN
4           NaN                                   NaN
..          ...                                   ...
994         NaN                                   NaN
995         NaN                                   NaN
996         NaN                                   NaN
997         NaN                                   NaN
998         NaN                                   NaN

     =arrayformula(trim(clean($B1:$B)))  =arrayformula(trim(clean(C1:C)))  \
0                                   NaN                               NaN
1                                   NaN                               NaN
2                                   NaN                               NaN
3                                   NaN                               NaN
4                                   NaN                               NaN
..                                  ...                               ...
994                                 NaN                               NaN
995                                 NaN                               NaN
996                                 NaN                               NaN
997                                 NaN                               NaN
998                                 NaN                               NaN

     =ARRAYFORMULA(IF($A1:A=TRUE,SPLIT(F1:F,"/"),""))  Unnamed: 7  Unnamed: 8  \
0                                                 NaN         NaN         NaN
1                                                 NaN         NaN         NaN
2                                                 NaN         NaN         NaN
3                                                 NaN         NaN         NaN
4                                                 NaN         NaN         NaN
..                                                ...         ...         ...
994                                               NaN         NaN         NaN
995                                               NaN         NaN         NaN
996                                               NaN         NaN         NaN
997                                               NaN         NaN         NaN
998                                               NaN         NaN         NaN

     Unnamed: 9  ...  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
0           NaN  ...          NaN          NaN          NaN          NaN
1           NaN  ...          NaN          NaN          NaN          NaN
2           NaN  ...          NaN          NaN          NaN          NaN
3           NaN  ...          NaN          NaN          NaN          NaN
4           NaN  ...          NaN          NaN          NaN          NaN
..          ...  ...          ...          ...          ...          ...
994         NaN  ...          NaN          NaN          NaN          NaN
995         NaN  ...          NaN          NaN          NaN          NaN
996         NaN  ...          NaN          NaN          NaN          NaN
997         NaN  ...          NaN          NaN          NaN          NaN
998         NaN  ...          NaN          NaN          NaN          NaN

     Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26  Unnamed: 27  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2            NaN          NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
..           ...          ...          ...          ...          ...
994          NaN          NaN          NaN          NaN          NaN
995          NaN          NaN          NaN          NaN          NaN
996          NaN          NaN          NaN          NaN          NaN
997          NaN          NaN          NaN          NaN          NaN
998          NaN          NaN          NaN          NaN          NaN

     Unnamed: 28
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
994          NaN
995          NaN
996          NaN
997          NaN
998          NaN

[999 rows x 29 columns]

In [73]:
set_with_dataframe(sh.add_worksheet(r.word(),rows=1000,cols=50), 
                   df)

In [68]:
print(sh)

<Spreadsheet '5. SAD DFCX - Intents' id:1lt02Hh2B_q_sluK-sAcgqyJ8WbqfZ6qDP_EQJVHPJDo>